@media screen and (min-width: 425px) {
    .py-12 .container .grid .relative .absolute h3.text-white {
        font-size: 8pt;
        font-weight: 300;
        text-align: center;
    }

    .py-12 .container .grid .relative .absolute p.text-white {
        font-size: 8pt;
        font-weight: 300;
        text-align: center;
    }
   
}

@media screen and (min-width: 768px) {
    .py-12 .container .grid .relative .absolute h3.text-white {
        font-size: 12pt;
        font-weight: 300;
        text-align: center;
    }

    .py-12 .container .grid .relative .absolute p.text-white {
        font-size: 12pt;
        font-weight: 300;
        text-align: center;
    }
   
}


